.headerko {
    color: blueviolet;
    height: 30px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    margin: 12px;
    padding: 12px;
    text-align: left;
    background: linear-gradient(135deg, blue, purple);
    border-radius: 10px;
    
}
.vyhladavanie{
    color: grey;
    text-align: center;
    margin: 12px;
    
}
.widthl {
    width: 64px;
}
.gap {
    margin: 12px;
}
.boxokolo  {
position: relative;
width: 300px;
height: 200px;
margin: 35px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, purple, blueviolet);
}
.boxokolo2  {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, blue, purple);
    }
    .boxokolo3  {
        position: relative;
        width: 150px;
        height: 100px;
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, green, blue);
        }
        .text {
            color: #0a1531;
            margin-left: 15px;  
        }
        .obrazok
        {
            margin: 75px;
            border-style: solid;
        border-width: 4px;
        border-color: blue;
        
        }
        .tlacitko {
            background: linear-gradient(135deg, blue, purple);
        }
        .tlacitko2{
            background: linear-gradient(135deg, blue, purple);
            
        }
        .footer{
            margin: 2px;
        }